{% extends 'Routine/base.html' %}

{% block title %}

Routines

{% endblock %}

{% block content %}
{% load static %}

<style xmlns="http://www.w3.org/1999/html">
    select {
    margin-top:50px;
    }
    table, th, td {
        border: 2px solid rgb(247, 208, 215);
        height: 40px;
    }

    table {
     margin-top:50px;
     width: 55%;

    }

    th {
     background-color: #7e025f;
     color: white;
    }

    td {
     background-color: #e47fcb;
     color: black;
    }

    th, td {
     padding: 15px;
     text-align: center;
    }
</style>
<form method="POST">
    {% csrf_token %}
    <select name = "userdrop" >
        {% for r in users %}
        <option>{{ r.routine_user }}</option>
        {% endfor %}
    </select>
    <br>
    <button class="form-group btn btn-outline-info" type="submit">Show Routines</button>
</form>
<table>
    <tr>
        <th>User</th>
        <th>Activity</th>
        <th>Activity Number</th>
        <th>Starting Time</th>
        <th>Ending Time</th>
        <th>Day</th>
    </tr>
    {% for r in routines %}
    <tr>
        <td>{{ r.routine_user }}</td>
        <td>{{ r.routine_activity }}</td>
        <td>{{ r.routine_actno }}</td>
        <td>{{ r.routine_time1 }}</td>
        <td>{{ r.routine_time2 }}</td>
        <td>{{ r.routine_day }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}